.card-c{
    width:520px;
    padding:10px;
    text-align: center;
    box-shadow:12px 10px 12px gray;
    border-radius: 10px;
    margin-top:3%;
}
.img-pre{
    width: 100%;
    border-radius:10px;
}
.btn-btn-pre{
    width:90%;
    padding:15px;
    border:none;
    border-radius: 10px;
    background-color:rgb(81, 81, 220);
}
.back{
    text-decoration: none;
    font-weight: 700;
    font-size:20px;
    color: black;
}
.check{
  color: green;
}
.users{
    font-size:200px;
}
.prename{
    font-weight:700;
}

@media only screen  and (max-width: 687px){
    .card-c{
        width:300px;
        padding:10px;
        text-align: center;
        box-shadow:12px 10px 12px gray;
        border-radius: 10px;
        margin-top:3%;
    }
    .img-pre{
       height:270px;
    }
    .UId{
        font-size:15px;
    }
}