.img-more{
    height:350px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-div-more{
    padding:10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:12px 10px 12px gray;
}
.more{
    display: flex;
    margin:10px;
    padding-left:5%;
    padding-right: 5%;
}
.small-more{
    padding:10px;
    margin-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:12px 10px 12px gray;
}
.time-more{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.premium-more{
    width:80%;
    padding:15px;
    border: none;
    background-image: linear-gradient(#EFF54D, #00AC61);
    border-radius:10px;
    font-weight: 700;
}
.star-more{
    color:gold;
}
@media only screen  and (max-width: 687px){

    .more{
        display: flex;
        flex-direction: column;
    }
    .img-more{
        height:250px;
        width:100%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}