.course-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin:2%;
}
.courseOne{
    padding:3%;
    margin-right:10px;
    height:100%;
    border-radius:10px;
    background-color: rgb(236, 172, 76);
    text-align: center;
}
.title{
  font-weight: 700;
  text-align: center;
}
.courseTwo{
    text-align: center;
}
.card-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media only screen  and (max-width: 687px){

    .course-container{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
    .card-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}