.course-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin:2%;
}
.courseOne{
    padding:3%;
    margin-right:10px;
    height:100%;
    border-radius:10px;
   background-image: linear-gradient(#FD297A, #9424F0);
    text-align: center;
}
.face{
    height:220px;
}
.title{
  font-weight: 700;
  text-align: center;
}
.courseTwo{
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen  and (max-width: 687px){

    .course-container{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .courseOne{
     margin-left:2%;
    }
}